body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  margin-top: .5em;
  margin-bottom : .5em;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

.row-divide {
  border-bottom: 3px solid #eee;
}

.row-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-pad-small {
  padding-top: 10px;
  padding-bottom: 5px;
}

.title, .top-bar-title h4 {
  margin: 0;
}
