<h2>Edit <%= @movie.title %></h2>
<% if @movie.image_url %>
<img src="<%= @movie.image_url %>" alt="<%= @movie.title %> poster">
<% end %>
<form action="/movies/<%= @movie.slug %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="patch">
  <p><label for="title">Title</label>
  <input type="text" name="movie[title]" id="title" value="<%= @movie.title %>"></p>

  <p><label for="movie_image">Change image</label>
  <input type="file" name="movie_image" id="movie_image"></p>

  <label for="description">Description</label>
  <textarea name="movie[description]" rows="5" id="description"><%= @movie.description %></textarea>

  <input type="submit" value="Save" class="button">
</form>