<h2>New Movie</h2>

<form action="/movies" method="post" enctype="multipart/form-data">
  <p><label for="title">Title</label>
  <input type="text" name="movie[title]" id="title"></p>

  <p><label for="movie_image">Image</label>
  <input type="file" name="movie_image" id="movie_image"></p>

  <p><label for="description">Description</label>
  <textarea type="description" name="movie[description]" id="description" rows="5"></textarea></p>

  <input type="submit" value="Save" class="button">
</form>