
<div class="row row-pad">
  <div class="columns medium-8">
    <h2 class="title"><%= @movie.title %></h2>
  </div>
  <div class="columns medium-4">
    <% if logged_in? && current_user.movies.include?(@movie) %>
      <a href="/movies/<%= @movie.slug %>/edit" class="button float-right">Edit movie</a>
    <% end %>
  </div>
</div>

<div class="row row-pad">
  <div class="columns medium-3">
    <% if @movie.image_url %>
      <img src="<%= @movie.image_url %>" alt="<%= @movie.title %> poster">
    <% end %>
  </div>
  <div class="columns medium-9">
    <p><b>Rating:</b> <%= @movie.rating ? @movie.rating : "Not rated" %></p>
    <p><%= @movie.description %></p>
  </div>
</div>

<div class="row">
  <div class="columns medium-12">
    <h3>Reviews</h3>
    <% if @movie.reviews.size > 0 %>
      <% @movie.reviews.each do |review| %>
        <div class="row-divide row-pad-small">
          <a href="/users/<%= review.user.username%>"><%= review.user.username %>:</a> <%= review.rating %> <%= pluralize("Star", review.rating) %>
          <p><%= review.comment %></p>
        </div>
      <% end %>
    <% else %>
      <p>No review yet, be the first to review this movie</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns medium-12">
    <h3>Write a review</h3>

    <% if logged_in? %>
    <form action="/movies/<%= @movie.slug %>/review" method="post">
      <input type="hidden" name="review[user_id]" value="<%= current_user.id %>">
      <p>
        <label for="rating">Rating</label>
        <select name="review[rating]" id="rating">
        <%for i in (1..5) do %>
          <option id="rating<%= i %>" value="<%= i %>"><%= i %> <%= pluralize("Star", i) %></option>
        <% end %>
        </select>
      </p>
      <p><textarea name="review[comment]" id="comment" rows="5" placeholder="Write a comment"></textarea><p>

      <input type="submit" value="Submit" class="button">
    </form>
    <% else %>
      <a href="/login">Login</a> to review this movie.
    <% end %>
  </div>
</div>