<% @movies.each do |movie| %>
  <div class="row row-pad row-divide">
    <div class="columns medium-3">
      <% if movie.image_url %>
        <img src="<%= movie.image_url %>" alt="<%= movie.title %> poster">
      <% end %>
    </div>
    <div class="columns medium-9">
      <h3><a href="/movies/<%= movie.slug %>"><%= movie.title %></a></h3>
      <p><%= movie.description %></p>
      <p><b>Rating:</b> <%= movie.rating ? movie.rating : "Not rated" %></p>
    </div>
  </div>
<% end %>