<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Review</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="wrapper top-bar">
      <ul class="menu">
        <li class="top-bar-title"><h4><a href="/">Movie Reviewer</a></h4></li>
      </ul>

      <div class="top-bar-right">
        <ul class="menu">
          <% if logged_in? %>
            <li><a href="/movies/new">+ Add Movie</a></li>
            <li><a href="/users/<%= current_user.username %>">Hi <%= current_user.username %></a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <main class="wrapper">
    <%= yield %>
  </main>
</body>
</html>