
<div class="row">
  <form action="/login" method="post" class="columns medium-6 medium-offset-3">
    <h1>Login</h1>
    <p><label for="username">Username<br>
    <input type="text" name="username" id="username" placeholder="Username or email"></label></p>

    <p><label for="password">Password<br>
    <input type="password" name="password" id="password" placeholder="Password"></label></p>

    <input type="submit" class="button" value="Login">
  </form>
</div>