<div class="row">
  <form action="/signup" method="post" class="columns medium-6 medium-offset-3">
    <h1>Sign Up</h1>
    <p><label for="username">Username<br>
    <input type="text" name="user[username]" id="username"></label></p>

    <p><label for="email">Email<br>
    <input type="email" name="user[email]" id="email"></label></p>

    <p><label for="password">Password<br>
    <input type="password" name="user[password]" id="password"></label></p>

    <input type="submit" class="button" value="Signup">
  </form>
</div>